*{
    box-sizing: border-box
}

body{
    margin: 0;
    background-color: #804ADE;
    color: white;
    font-family: arial;
}

.superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    padding: 3px;
}

.lista-sup{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    font-size: 20px;
}

.lista-sup li:hover{
    font-size: 35px;
    font-style: italic;
}

.lista-sup li{
    padding: 10px;
    margin-right: 30px;
}

/* Establecer un menú fijo */
.encabezado{
    position:fixed;
    z-index: auto;
    width:100%;
}
/* Sacarle el underline a los links y le pongo*/
a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    font-style:bold;
    justify-items: center;
    align-items: center;
}

#superfilms{
    font-style: italic;
    font-size: 40px;
}

/*Pelicula*/

.peli{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 13%;
    margin: 0 5% 5% 5%;
}

.imagen-peli{
    display: flex;
    flex-wrap: wrap;
}

.imagen-peli img{
    width: 80%;
}

.info-peli{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.info-peli li{
    list-style-type: square;
    padding: 10px;
    margin: 0px;
}

.info-fila{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.descripcion{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

/*Relacionadas*/

.relacionadas{
    margin: 0px;
}

.titulo{
    justify-content: left;
    background-color: #424874;
    margin: 0 0 5% 0;
    padding: 3% 0 0 3%;
    width: 100%;
}

.rela{
    padding: 2% 0 2% 2%;
    width: 100%;
}

.tirarelacionadas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.tirarelacionadas h3{
    text-align: center;
    width: 160px;
}

.tirarelacionadas img{
    width: 160px;
    height: 220px; 
}

.relacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    background-color:black;
    font: bold;
    font-size: 30px;
    font-style: italic;
    margin: 40px 0 0 0;
}

.footer a{
    margin: 0 0 0 20px;
}