body{
    margin: 0;
    background-color: #804ADE;
    color: white;
    font-family: arial;
}

h2 {
    margin: 30px;
}

.superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #424874;
}

.lista-sup{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    font-size: 20px;
}

.lista-sup li:hover{
    font-size: 35px;
    font-style: italic;
}

.lista-sup li{
    padding: 10px;
    margin-right: 30px;
}

/* Establecer un menú fijo */
.encabezado{
    position:fixed;
    z-index:auto;
    width:100%;
    margin-top: 0px;
}
/* Sacarle el underline a los links y le pongo*/
a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    font-style:bold;
    justify-items: center;
    align-items: center;
}

.primera{
    
}

.tira1{
    padding-top: 120px;
}

#superfilms{
    font-style: italic;
    font-size: 40px;
}

.peliculas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.peliculas h3{
    text-align: center;
}
img{
    width: 160px;
    height: 220px; 
}

.footer{
    background-color:black;
    font: bold;
    font size: 30px;
    font-style: italic;
}