body{
    margin: 0;
    background-color: #804ADE;
    color: white;
    font-family: arial;
}

h2 {
    margin: 30px;
}

.superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #424874;
}

.lista-sup{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    font-size: 20px;
}

.lista-sup li{
    padding: 10px;
    margin-right: 30px;
}

/* Sacarle el underline a los links y le pongo*/
a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    font-style:bold;
    justify-items: center;
    align-items: center;
}

#superfilms{
font-style: italic;
font-size: 40px;
}

.peliculas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

img{
    width: 160px;
    height: 220px; 
}