*{
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
}

/* Slider */
.slider{
    overflow: hidden;
}

.slider figure{
    position: absolute;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider img{
    background-size: cover;
    height: 500px;
    width: 20%;
    float: left;
}

@keyframes slider{
    0%{
        left: 0%;
    }

    20%{
        left: 0%;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}

.slider{
    padding: 20%;
}

.figure{
    width: 80%;
}

/* seccion peliculas */
.peliculas{
    padding-top: 20%;
}

#series{
    font-style: italic;
    font-size: 50px;
}
