*{
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    font-weight: normal;
}

body{
    margin: 0;
    background-image: url(../imagenes/background/purple.jpg);
    background-color:  #804ADE;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 2px 2px black;
}


/*Encabezado*/

.superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(black, #5850A1);
}

.lista-sup{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    font-size: 30px;
    position: relative;
}

.submenu {
    font-size: 30px;
    list-style: none;
    display: none;
}

.lista-sup li{
    margin-right: 4%;
    text-shadow: 2px 2px black;
}

/* Hover */

.lista-sup li a:hover{
    font-size: 45px;
    font-style: italic;
    transition: all .2s;
    color: #ce7d35;
}

.lista-sup li:hover{
    font-size: 45px;
    font-style: italic;
    transition: all .2s;
}

.lista-sup li:hover .submenu{
    display: block;
}



/* Establecer un menú fijo */
.encabezado{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: block;
    top: 0;
}

/* Sacarle el underline a los links y cambio de color*/
a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
    justify-items: center;
    align-items: center;
}

#principal{
    font-style: italic;
    font-size: 50px;
    color: #ce7d35;
}


/*Home*/

.uno{
    padding-top: 100px;
}

.titulo{
    justify-content: left;
    background-color: #5850A1;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    font-size: 110%;
}

.titulo h2{
    margin: 0;
    margin-left: 3%;
}

.peliculas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}

.art-peli{
    width: 190px;
    height: 300px;
    box-shadow: 5px 5px 5px black;
}

.peli{
    border-color: black;
    border-style: double;
    background-color:  #5850A1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.peli img{
    width: 100%;
    height: 100%;
    max-height: 220px;
    object-fit: fill;
}

.peli h3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 80px;
    margin: 0;
}


/*Detalle peli-serie*/

.obra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15% 0 5% 2%;
}

.imagen-obra{
    border-color: black;
    border-style: double;
    background-color:  #5850A1;
    margin: 0 5% 0 0;
    width: 480px;
    height: 500px;
    box-shadow: 5px 5px 5px black;
}

.avengers{
    height: 700px;
    width: 550px;
}

.imagen-obra img{
    display: flex;
    flex-wrap: wrap;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.info-obra{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #804ADE;
}

.titulo.obra{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    margin: 0 0 2% 0;
    padding: 2%;
    font-size: 200%;
}

.info-obra li{
    list-style-type: square;
    padding: 10px;
    margin: 0px;
    font-family: courier;
}

.info-fila{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.descripcion {
    font-size: 20px;
    margin: 0;
    padding: 0px 20px 0px 15px;
    text-align: justify;
    background-color: #5850A1;
}

.obra p{
    font-family: 'Courier New';
    font-style: normal;
}

.fa-star{
    color: gold;
}

.info-fila strong{
    font-family: courier;
    font-weight: bold;
}

.info-columna strong{
    font-weight:bolder;
    font-family: courier;
}

.first{
    margin-left: 10px;
}
.info-columna li{
    margin: 0;
    font-family: courier;
}

/*Superhéroes*/

.grid-heroe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 30px;
}

.art-heroe{
    width: 30%;
    height: 500px;
    margin: 30px 0px 10px 0px;
}

.heroe{
    border-color: black;
    border-style: double;
    background-color:  #5850A1;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100%;
}

.heroe img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: fill;
}

.heroe h3{
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    max-height: 100px;
    margin: 0;
}


/*Footer*/

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    background-color:black;
    font-size: 30px;
    font-style: italic;
    margin-top: 7px;
}

.footer a{
    width: 50%;
}

.footer h3{
    margin-left: 10%;
    color: white;
    margin-bottom: 7px;
}

.logos{
    width: 50%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 50px;
    gap: 5%;
    margin-bottom: 10px;
}

footer h5{
    width: 100%;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: center;
    color:grey;
}


/* Slider */

.slider {
    overflow: hidden;
    padding-top: 100px;
    height: 600px;
}

.slider figure {
    position: relative;
    z-index: 1;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slider infinite;
}

.slider figure img {
    width: 20%;
    height: 100%;
    float: left;
    object-fit: cover;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}


/* Series html */

.series-slider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 30px;
}

.art-heroe{
    width: 28%;
    padding: 20px 15px 0px 15px;
}

.art-heroe h3{
    font-size: 20px;
}
/*Mundos html*/

.portada{
    width: 100%;
    height: 500px;
    margin: 0 0 3% 0;
}

.portada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Responsive */

@media(max-width:768px){
   /* General */
    body{
        background-image: none;
    }

    .art-heroe{
        height: 340px;
    }

    .art-heroe img{
        height: 250px;
    }

    .art-heroe h3{
        padding-bottom: 20px;
        font-size: 18px;
    }

    /* Home */
    .uno{
        padding-top: 120px;
    }

    .art-peli{
        width: 30%;
        margin: 0 0 3% 3%;
    }

    /* Encabezado */
    #mundos{
        display: none;
    }

    .submenu{
        display: block;
        position: relative;
        padding: 0;
    }

    /* Series */
    .slider{
        margin-top: 40px;
        max-height: 350px;
    }

    .series-slider{
        padding-top: 0;
    }

    /* Hover */
    .lista-sup li a:hover{
        font-size: 30px;
        font-style: normal;
        color: white;
        transition: none;
    }
    .lista-sup li:hover{
        font-size: 30px;
        font-style: normal;
        transition: none;
    }

    #mundos:hover + .submenu{
        background-image: none;
    }
    
    .submenu:hover{
        background-image: none;
    }

    .peliculas{
        justify-content: center;
        margin-right: 3%;
    }

    /* Superheroes */
    .grid-heroe{
        padding-top: 140px;
    }

    /* DC Marvel */
    .md{margin: 0 3% 3% 3%;
    }

    /*Detalle*/
    .obra{
        margin-top: 25%;
    }

    .avengers{
        width: 380px;
        height: 550px;
    }

    .descripcion{
        font-size: 15px;
    }
    .info-columna{
        font-size: 12px;
    }
    .info-fila{
        font-size: 11px;
    }
}

@media(max-width:425px){
    body{
        background-image: none;
    }

    .lista-sup{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: baseline;
        font-size: 30px;
        position: relative;
    }

    #mundos{
        display: none;
    }

    .submenu{
        display: block;
        position: relative;
        padding: 0;
    }

    /* Hover */
    .lista-sup li a:hover{
        font-size: 30px;
        font-style: normal;
        color: white;
        transition: none;
    }

    .lista-sup li:hover{
        font-size: 30px;
        font-style: normal;
        transition: none;
    }

    #mundos:hover + .submenu{
        background-image: none;
    }
    
    .submenu:hover{
        background-image: none;
    }

    .uno{
        padding-top: 220px;
    }

    .tira{
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .peliculas{
        justify-content: center;
        margin: 0;
    }
    
    .art-peli{
       justify-content: center;
       width: 160px;
       height: 300px;
       margin: 5%
    }

    /* Superhéroes */
    .grid-heroe{
        padding-top: 250px;
    }

    .art-heroe{
        width: 160px;
        height: 300px;
    }
    
    .heroe{
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .heroe img{
        width: 100%;
        height: 100%;
        max-height: 220px;
        object-fit: fill;
    }
    
    .heroe h3{
        text-align: center;
        width: 100%;
        height: 100%;
        max-height: 80px;
        font-size: 100%;
    }

    /* Series */
    .slider{
        display: none;
    }

    .series-slider{
        padding-top: 250px;
    }

    /* DC Marvel */
    .md h3 {
        font-size: 110%;
    }

    /*Detalle*/
    .obra{
        margin-top: 70%;
    }

    .imagen-obra{
        width: 200px;
        height: 250px;
    }

    .titulo.obra{
        text-align: center;
        justify-content: center;
    }

    .info-fila{
        justify-content: space-between;
    }

    .descripcion{
        display: none
    }

    .info-columna{
        display: none;
    }

    /* footer */
    .logos{
        gap: 15px;
        font-size: 26px;
        align-content: center;
    }

    .footer h3{
        font-size: 28px;
    }
}
