.no-js #loader {display: none;}
.js #loader {display: block; position: absolute; left: 100px; top: 0;}
.load {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(https://media.giphy.com/media/1gdoeJmc3piKTeORzG/giphy.gif) center no-repeat #fff;
}


/* Buscador */
#inputValue{
    width: 200px;
    line-height: 2;
    outline: none;
    border-radius: .25rem;
}

.movie{
    margin-top: 10%;
}
#search{
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    cursor: pointer;
    border-radius: .25rem;
}
#resultados-busqueda{
    margin: 150px 0px 30px 40px;
}

#contenedor {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.article{
    display: flex;
    width: 30%;
}

.article img, .article a{
    width: 300px;
}
/* Home */
.alert{
    color: red;
    font-size: 12px;
}

/* Detalle Genero */
.titulo-genero{
    margin-top: 170px;
    margin-left: 40px;
    font-size: 40px;
}