#search{
    color: black;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: .25rem;
}

#inputValue{
    width: 170px;
    line-height: 1.5;
    outline: none;
    border-radius: .25rem;

}

.section{
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.section img {
    width: 25%;
    height: 430px;
}

.section img:hover{
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.content{
    border: 1px solid red;
    display: none;
}

.content-display{
    display: block;
}